<form name="userform" role="form">

  <div class="form-group">
    <label for="email">Name : </label>
    <input ng-model="u.name" name="name" type="text" class="form-control " id="name" ng-required="true">
  </div>
  
  <div class="form-group">
    <label for="email">Email : </label>
    <input ng-model="u.email" name="email" type="email" class="form-control" id="email" ng-required="true">
  </div>  
   
  <div class="btn-group" data-toggle="buttons">

  <div class="radio-inline ">
      <label class="btn ">
          <input type="radio"  name="role" value="1" ng-checked="u.role=='1'"  ng-model="u.role" /> Superadmin
      </label> 
  </div>  

  <div class="radio-inline ">
      <label class="btn ">
          <input type="radio"  name="role" value="10" ng-checked="u.role=='10'"  ng-model="u.role" /> Admin
      </label> 
  </div>  
    
  <div class="radio-inline ">
      <label class="btn ">
          <input type="radio"  name="role" value="100" ng-checked="u.role=='100'"  ng-model="u.role" /> Editor
      </label> 
  </div>  
    
  </div>
  <button ng-disabled="userform.$invalid"  ng-click="update(u.id, u)" class="btn btn-success pull-right">Update User</button>
  
</form>