html body  * {
  border-radius: 1px !important;
}

.navbar{
  background: #242018;
}
.navbar form label {
  color: #9d9d9d;
  
}

.page-header {
  margin-top: 120px
}
.navlogin{
  
  position:relative;
}
.passrecover{
  position:absolute;
  right:-2.8%;
  top:40px;
}

footer {
  height: 300px;
  margin-top: 80px;
  background-color: #222;
  width: 100%;
}

nav.navbar {
  padding: 20px 15px;
}

body .form-control {
  border-radius: 1px;
  padding: 20px;
}

body .btn {
  border-radius: 1px;
  padding: 10px 20px;
}

body .panel {
  border-radius: 1px;
  border: none;
}

body .panel a {
  color: #fff;
}

body .panel .panel-body {
  background: #eee;
}

body .pointer{
  cursor:pointer;
}