
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Recover Password</h4>
    </div>
    <div class="modal-body">
      <form class="cform" role="form">

        <div class="input-group">
          <input type="text" name="code" class="form-control code" placeholder="Enter email">
          <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Ok</button>
            </span>
        </div>

      </form>
     
    </div>
    <div class="modal-footer">
      <p>
        Follow the link in your email to retrieve your password
      </p>
    </div>
  </div>
