      <form class="cform" role="form">

        <div class="input-group">
          <input type="text" name="code" class="form-control code" placeholder="Enter email">
          <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Ok</button>
            </span>
        </div>

      </form>