<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Soup App</title>
  <!-- Bower Components -->

  <!-- Bower Components Anugular-->
  <script src="bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
  <script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>  
  <script src="bower_components/ngstorage/ngStorage.js"></script>  
  <script src="bower_components/satellizer/satellizer.js"></script>
  <!--  Bower Components Bootstrap Ui -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>


  <!--Angular App -->
  <script src="js/app.js" type="text/javascript"></script>
  
  <!--Angular App Controlelrs -->
  <script src="js/controllers/siteController.js" type="text/javascript"></script>  
  <script src="js/controllers/userController.js" type="text/javascript"></script>
  
  <!--Angular App Services -->
  <script src="js/services/authService.js" type="text/javascript"></script>
  <script src="js/services/userService.js" type="text/javascript"></script>


  <!--Angular App Directives -->
  
  <!--Angular App Directives / Navigations -->
  <script src="js/directives/navbar-top/navbar-top.js" type="text/javascript"></script>
  <script src="js/directives/users-dashboard/users-dashboard.js" type="text/javascript"></script>   
  <script src="js/directives/user-menu/user-menu.js" type="text/javascript"></script>  
  <script src="js/directives/user-list/user-list.js" type="text/javascript"></script>
  
  <!--Angular App Directives / Notice -->   
  <script src="js/directives/notice/notice.js" type="text/javascript"></script>    
  
  <!--Angular App Directives / Modules -->   
  <script src="js/directives/modules/login-module/login-module.js" type="text/javascript"></script>  
  <script src="js/directives/modules/register-module/register-module.js" type="text/javascript"></script>
  <script src="js/directives/modules/user-module/user-module.js" type="text/javascript"></script>
  
  <!--Angular App Directives / Modules / Validators --> 
  <script src="js/directives/modules/validators/match-validator.js" type="text/javascript"></script>
  <script src="js/directives/modules/validators/unique-validator.js" type="text/javascript"></script>
  
  <!--Angular App Directives / Pulses -->
  <script src="js/directives/logout-pulse/logout-pulse.js" type="text/javascript"></script>

  <!-- Css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/animation.css">

</head>



<body ng-controller="siteController">
  

  <navbar brand="Soup" menus="menus" styles="navbar-inverse navbar-fixed-top"></navbar>

  <div class="container">

    <div class="view" ng-view>

    </div>
    <!--<span ng-click="open('ls')" class="btn btn-info">open</span>-->
  </div>

 
</body>

</html>