<nav class="navbar {{styles}}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{brand}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <!-- Left -->
        <li ng-repeat="m in menus">
          <a href="{{m.url}}">{{m.txt}}</a>
        </li>
      </ul>
      <!-- Right -->
      
      <div class="navbar-form navbar-nav navbar-right">
        
        <div ng-show="$root.currentUser" >
          <div class="clearfix"> 
            <div class="btn-group inline pull-right " > 
              <user-menu></user-menu>
              <logout-pulse></logout-pulse>
            </div>
          </div>
        </div>        
        <div class="navlogin" ng-hide="$root.currentUser" >
          <div class="row">
            <login-module style="form-inline" head="Sign In"></login-module>
          </div>
          <div class="row">
          <span style="margin-top:10px" class="btn label label-info pull-right passrecover ">recover your password</span>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>