  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Recover Password</h4>
    </div>
    <div class="modal-body">
      
      <div ng-transclude>
        
      </div>
     
    </div>
    <div class="modal-footer">
      <p>
        Follow the link in your email to retrieve your password
      </p>
    </div>
  </div>