<form name="regForm" role="form" class="">
  {{reg.head}}
  <div class="form-group">
    <label for="name">Name:</label>
    <input ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" ng-model="reg.name" name="name" type="text" class="form-control " id="name" ng-required="true">
    <!-- Valid Msg -->
    <span class="label label-success" ng-show="regForm.name.$dirty && regForm.name.$valid "><i class="fa fa-check"></i></span>
    <!-- Errors Msg -->
    <span class="label label-danger col-sm-12 " ng-show="regForm.name.$error.required && regForm.name.$dirty"><b><i class="fa fa-exclamation-circle"></i> Empty field </b> : required</span>
    <span class="label label-danger col-sm-12" ng-show="!regForm.name.$error.minLength && !regForm.name.$error.maxLength && regForm.name.$error.pattern && regForm.name.$dirty">
      <b><i class="fa fa-exclamation-circle"></i></b> Invalid Username : Must start with a letter, and contain letters &amp; numbers only.</span>
    <span class="label label-danger col-sm-12" ng-show="!regForm.name.$error.required && (regForm.name.$error.minlength || regForm.name.$error.maxlength) && regForm.name.$dirty">
      <b><i class="fa fa-exclamation-circle"></i></b> Invalid Username length : Username must be between 5 and 20 characters.</span>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input ng-model="reg.email" name="email" type="email" class="form-control" id="email" ng-required="true">
    <!-- Valid Msg -->
    <span class="label label-success" ng-show="regForm.email.$dirty && regForm.email.$valid "><i class="fa fa-check"></i></span>
    <!-- Errors Msg -->
    <span class="label label-danger col-sm-12" ng-show="regForm.email.$error.unique"> <b><i class="fa fa-exclamation-circle"></i> Invalid email : </b>  Email already exists</span>
    
    <span class="label label-danger col-sm-12" ng-show="regForm.email.$error.required && regForm.email.$dirty"><b><i class="fa fa-exclamation-circle"></i></b> Empty field  : required</span>
    <span class="label label-danger col-sm-12" ng-show="regForm.$error.email" > <b><i class="fa fa-exclamation-circle"></i> Invalid email : </b> Please enter with a valid address like example@example.com </span>
  </div>
  <div class="form-group">
    <label for="password">Pass:</label>
    <input ng-minlength="6" ng-maxlength="20" ng-model="reg.password" name="password" type="password" class="form-control " id="password" ng-required="true">
    <!-- Valid Msg  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" -->
    <span class="label label-success" ng-show="regForm.password.$dirty && regForm.password.$valid "><i class="fa fa-check"></i></span>
    <!-- Errors Msg -->
    <span class="label label-danger col-sm-12" ng-show="regForm.password.$error.required && regForm.password.$dirty"><b><i class="fa fa-exclamation-circle"></i></b> Empty field  : required</span>
    <span class="label label-danger col-sm-12" ng-show="!regForm.password.$error.required && (regForm.password.$error.minlength || regForm.password.$error.maxlength) && regForm.password.$dirty">
      <b><i class="fa fa-exclamation-circle"></i></b> Invalid Password length  : Password must be between 8 and 20 characters.</span>
    <span class="label label-danger col-sm-12" ng-show="!regForm.password.$error.required && !regForm.password.$error.minlength && !regForm.password.$error.maxlength && regForm.password.$error.pattern && regForm.password.$dirty">
      <b><i class="fa fa-exclamation-circle"></i></b> Invalid Password : Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)
    </span>
  </div>
 <div class="form-group">
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" id="password_confirmation" name="password_confirmation" ng-model="reg.password_confirmation"  ng-required="true" class="form-control " />
    <!--<span class="label label-success" ng-show="regForm.password_confirmation.$dirty && regForm.password_confirmation.$valid "><i class="fa fa-check"></i></span>
    <span class="label label-danger col-sm-12" ng-show="regForm.password_confirmation.$error.required && regForm.password_confirmation.$dirty">Please confirm your password.</span>
    <span class="label label-danger col-sm-12" ng-show="!regForm.password_confirmation.$error.required && regForm.password_confirmation.$error.noMatch && regForm.password.$dirty">Passwords do not match.</span>
{{regForm.password_confirmation.$error.noMatch}}
-->
  </div>
  <button ng-disabled="regForm.$invalid" ng-repeat="b in form.buttons" ng-click="action(reg)" class="btn {{b.style}}"> {{b.txt}}</button>
  <hr>
  <div ng-show="msg" ng-repeat="a in alerts" class="alert  alert-danger">
    {{a[0]}}
  </div>
</form>