<div class="row">
  
  <div class="col-sm-4">

    <user-list></user-list>

  </div>

  <div ng-show="u.name" class="col-sm-7 col-sm-offset-1">

    <user-module></user-module>

  </div>
  
</div>
<hr>
<div class="row">

    <div  ng-show="alerts.success" class="alert alert-success col-sm-5">
    
     <strong> <i class="fa fa-check"></i> all ok : </strong> {{alerts.success}}

    </div>       
  
  <div ng-show="alerts.errors" class="alert alert-danger col-sm-5">
    
     <strong> <i class="fa fa-exclamation"></i> opss : </strong> {{alerts.errors}}

    </div>    
  

  
</div>