<div class="list-group">

  <a ng-repeat="user in users"  ng-click="action(user.id)" ng-class="{active: user.name === $root.currentUser.name}" class="list-group-item pointer">
    
    <h4 class="list-group-item-heading"><i class="fa fa-user"></i> {{user.name}}</h4>
    
    <p class="list-group-item-text"><i class="	fa fa-envelope"></i>  {{user.email}}</p>
    
  </a>
  
</div>
